## DATA TYPES

1. Numerical: int, float, complex
2. Boolean: bool (True/False)
3. Text: str
4. Sequential: list, tuple, range
5. Mapping: Dict
6. Set: set, frozenset
7. Binary: bytes, bytearray, memoryview

### NUM

In [ ]:
#Numeric Types
type(12)  #int
type(1.2) #float
type(1+9j) #complex
type("Vasudha") #string
type("1.2+100-25") #string
type(1.2+100-25j) #complex

#Algebraic operations
a=90
b=4
print(a+b) #addition
print(a-b) #subtraction
print(a*b) #multiplication
print(a/b) #division
print(a%2) #remainder
print(a//b) ##floor division: ignores the decimal points
print((a+b)**2) #exponential

#Memory
a=12
b="hello"
print(id(a)) #address of int and string is very very apart
print(id(b)) #id means address

#Increment and Decrement
i=1
i+=1 # '+=' is the syntax
j=5
j*=3
print(i) #i=2
print(j) #j=15

In [ ]:
#Logical Operations on NUM
a=10
b=6
print(a&b) #AND gate
print(a|b) #OR gate
print(a^b) #XOR gate
print(~a) #NOT
print(7<<2) #right shift,binary bits get shifted right twice
print(4>>1) #left shift, binary bits get shifted left once

#Input Options
m=eval(input("Enter value")) #eval: depending on input it'll assume the datatype
n=eval(input ("Enter value"))
print(m+n)

### BOOLEAN

In [ ]:
#BOOLEAN
type(True)
type(False)
type(1>5) #Just writing 1>5 without type gives output False
1>5

In [ ]:
#Identity operator
data=[1,2,3]
tata=data
print(id(data))
print(id(tata))
data_2 = tata.copy()
print(id(data_2))
print(data is tata)
print(data is not data_2)

### STRINGS

In [ ]:
'Hey' #wont work if you have a single quote in the sentence, eg: I've been wanting to master python. The ' in I've
"Wassup" #hence, use double quotes
''' how much wood
would a wood chuck chuck
if a wood chuck could chuck wood'''  #triple quotes is for a multi-line string

In [ ]:
#DOC Strings and Multiline

#to remove that \n and all, make a variable called multiline and then print that 
multiline='''how much wood
would a wood chuck chuck
if a wood chuck could chuck wood?'''
print(multiline)

In [ ]:
#Concatenation
name="Sam"
place="Bangalore"
print("Welcome " + name+ "to " +place) 

#Dot format
print("Welcome {} to {}".format(name, place))

#F string
print(f"Welcome {name} to {place}")

In [ ]:
#Indexing
a="Hello world "
print(a[:11]) 
print(a[2:6])
print(a[7:])
print(a[-4])
print(a[6::2]) #skips next, prints 'wrd'

#length of string
print(len(a))

#Palindrome
data="hello world"
data[::-1]

a="Hello people "
print(a*3)
print(a+a)
a.capitalize() 
a.upper()
a.lower() # a.casefold()
a.swapcase() #switches upper case to lower case and vice versa
a.title() #converts the first letter of every word as caps
a.count('l')
a.startswith("h") 
a.endswith(".")
a.expandtabs(5) #how many number of tabs between the two letters, here, 5 spaces
a.zfill(10) #total characters should be (10) rest of data will be filled with zero. Hello becomes 00000Hello

a.find("l") #from left side, the first occurence
a.rfind('l') #from right, the first occurence
a.index("l") #diff between index and find is, if you enter a value thats not in the string, index throws error, find shows -1
a.isprintable()
a.replace("l",'i')

a="hello"
a.ljust(10) #right adjust spaces
a.rjust(10) #left adjust spaces
a.strip() #removes extra spaces
a.split("l") #converts string to list
a.splitlines() #splits \n into variables in list (useful in file handling)

data="1x"
data.isalnum() #no special characters like space is allowed only alphabet and numbers
data="sss "
data.isascii()
data= "ಶುಭೋದಯ" #kannada,etc,anything not in keyboard values
data.isascii()

data="data"
data.isidentifier()  #is it a valid variable name or not
data="1data"
data.isidentifier()  #"1data" is an invalid variable name

In [ ]:
#to sort the numbers in string in ascending order
data="9 10 39 49 22 11".split()
temp=[eval(x) for x in data]
temp.sort()
res=" ".join([str(x) for x in temp])
print(res)

### LOOPS

In [ ]:
#looping through characters
frt="banana"
for i in frt:
    print(i)
    
data="jh23ij34nj"
res=" "
for x in data:
    if x.isdigit():
        res+=x
    else: 
        res+=" "
    print(res)

In [ ]:
#Examples
data="file path"
data.split("/")[-1]

data="vasoosk@gmail.com"
data.split('@')[0]+"@ outlook.com"

data="23.3 22 54"
data.split()

data= "    hello"
length= len(data)
data.strip().capitalize().rjust(length)

In [60]:
#To get sum of digits in my phone number
data="7259249765"
res=0
for i in data:
    res+=int(i)
print(res)

56

In [62]:
#To see how many times each letter repeats in "hello world"
data="hello world"
for x in set(data):
    print(f"{x} is repeated {data.count(x)} times")

w is repeated 1 times
o is repeated 2 times
e is repeated 1 times
h is repeated 1 times
l is repeated 3 times
r is repeated 1 times
  is repeated 1 times
d is repeated 1 times

In [21]:
#to print the ones that ends with .txt

data=["file1.txt","file2.png","file3.pdf","file4.txt"]
for x in data:
    if x.endswith(".txt"):
        print(x)

file1.txt
file4.txt

In [28]:
#count only the letters that repeat and count them only once
data="applee"
for x in set(data):
    if(data.count(x)>1):
        print(x)

e
p

In [67]:
#nested for loop: to find sum of values in each element of set
data=["121","131","141"]
for i in data:
    res=0
    for x in i:
        res+=int(x)
    print(res)

4
5
6

In [1]:
#to print the product of all non-zero values in the list (int)
data=[1,2,3,0,2.3,0,2]
res=1
for x in data:
    if(x!=0):
        res*=int(x)
print(res)

24

In [66]:
#to print the product of all non-zero values in the list
data=[2,3,4,5,6,0,0,3,3]
res=1
for x in data:
    if(x!=0):
        res*=int(x)
print(res)

6480

int

### LISTS

Functions performed on lists:

Deep and Shallow copy
ID-Address
Membership/In operator
Count
Extend
Dir
Index
Insert
Pop
Remove 
Sort
Clear

In [1]:
#list,mutable,ordered
data=[3,4,5,6,7,8]
print(data)
print(id(data)) #address of the data

[3, 4, 5, 6, 7, 8]
2591400077568

In [13]:
#Deep copy (copies data and address location)
data=[1,2,3,4,5]
temp=data
data.append(100)
print(id(data))
print(id(temp))  #address is same
print(data)
print(temp)
#here, we want to append only data with 100, but temp also gets appended. therefore, use shallow copy

2591423744256
2591423744256
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]

In [12]:
#Shallow copy
data=[1,2,3,4,5]
temp=data.copy()
data.append(100)
print(id(data))
print(id(temp)) #address is different
print(data)
print(temp)

2591423745216
2591423878784
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5]

In [16]:
#Identity operator (Gives info about the address whether its same(True) or different(False))
data=[1,2,3,4,5]
temp=data
temp is data
temp is data.copy()

False

In [18]:
#Membership operator (in operator): used in string,list,tuple,set,dict(keys)
data=[10,20,30,40]
100 in data

False

In [21]:
#Count
data=[3,4,5,6,7,3,8]
data.count(3)

2

In [23]:
#Extend
data.extend([10,20,30]) #datatype should be iterable: for loop: list,string
data.append([10,20,30])
print(data)

[3, 4, 5, 6, 7, 3, 8, 10, 20, 30, 10, 20, 30, [10, 20, 30]]

In [24]:
dir(str) #special concepts

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
#Finds index position of first appearing data
data=[3,4,5,6,7,3,8,8,8]
data.index(8)

6

In [27]:
data.insert(1,1000) #position,value
print(data)
#if you give a position that doesnt exist, it put data in last

[3, 1000, 4, 5, 6, 7, 3, 8, 8, 8]

In [28]:
data.pop() #default last element 
data.pop(5) #specific position ka data will be removed and displayed

7

In [35]:
data=[3,4,5,6,7,8]
data.remove(4)
print(data)

[3, 5, 6, 7, 8]

In [36]:
data=[3,4,5,1,2,6,5,7]
data.sort(reverse=True) #descending order, just sort() is ascending
print(data)

[7, 6, 5, 5, 4, 3, 2, 1]

In [37]:
data.clear()
print(data)

[]

In [1]:
#Functions performed on lists
icecream=['choco','vanilla','mango']

icecream.append('mint') #APPEEND: Appends or adds into end of the list
icecream
icecream[1]='strawberry'
icecream

b=['Vasu','Sumu',4,['siblings',45],True]
b[3][0]
b[3][1]

icecream.clear()  #CLEAR: clears all items inside the list
icecream
icecream.count('mint')  #COUNT: counts number of times the word occurs
b.count('Vasu')

print(b.index('Sumu')) #INDEX: position of the first occurence
b.insert(1,'Gajju') #INSERT: inserts into the list format: insert(pos," what you want to insert")
print(b)
b.pop() #POP: removes the last 
print(b)
x=[1,2,'pus',45]
x.remove(45)  #REMOVE: removes the item that you mention
print(x)
x.reverse()  #REVERSE: reverses the items in backward order
print(x)
alp=['a','g','b','y','i'] 
alp.sort()   #Sort in ascending order
print(alp)
numberss=[56,678,34218,6,9,400000]
min(numberss)  #MIN AND MAX: minimum and maximum of list
max(numberss)

1
['Vasu', 'Gajju', 'Sumu', 4, ['siblings', 45], True]
['Vasu', 'Gajju', 'Sumu', 4, ['siblings', 45]]
[1, 2, 'pus']
['pus', 2, 1]
['a', 'b', 'g', 'i', 'y']

400000

In [63]:
#Example: To store square of each number
data=[3,4,5,6,7,8]
res=[]
for x in data:
    res.append(x**2)
print(res)

[9, 16, 25, 36, 49, 64]

In [62]:
#Example: To seperate the alphabets and numbers and put into different lists
data=[3,4,5,6,"k","d","e",4]
int_data=[]
str_data=[]
for i in data:
    if(type(i)==int):
        int_data.append(i)
    elif type(i)==str:
        str_data.append(i)
print(int_data)
print(str_data)

[3, 4, 5, 6, 4]
['k', 'd', 'e']

In [ ]:
#LISTS [Multiple seperate values]
a=[1,2,3]
b=['Vasu','Sumu',4,['siblings',45],True]  #different data types within the list and nested list

data=["hello", "world"]   #JOIN: converts list to string
" ".join(data)

In [55]:
#Example: Adding the numbers in string
data="20 20.3 20"
newdata=data.split(" ")
res=0
for i in newdata:
    res+=eval(i)
print(res)

60.3

In [58]:
#Comprehensive: Single line if-else statement
data=44
"even" if data%2==0 else "odd"

'even'

In [ ]:
num = 5
if num > 0:
    result = "positive"
elif num == 0:
    result = "zero"
else:
    result = "negative"
#comprehensive single line:
# Single-line if-else statement (ternary operator)
result = "positive" if num > 0 else ("zero" if num == 0 else "negative")

In [61]:
#print all even numbers into a list
res=[]
for x in range (10):
    if(x%2==0):
        res.append(x)
print(res)

[0, 2, 4, 6, 8]

In [67]:
#COMPREHENSIVE LISTS (single if statement:rightmost and if-else: left)
#[output,for,if]
res=[x**2 for x in range(10) if(x%2==0)]
print(res)

[0, 4, 16, 36, 64]

In [65]:
res=[x if x%2==0 else 0 for x in range(10)]
print(res)

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

In [68]:
data="20 20.3 20"
res=sum([eval(x) for x in data.split()])
print(res)

60.3

In [74]:
data="asd20asd20.45f20sdf"
res=""
for x in data:
    if not x.isalpha():
        res+=x
    else:
        res+=" "
temp=[]
for y in res.split():
    temp.append(eval(y))
print(sum(temp))

60.45

In [75]:
res=sum([eval(z) for z in "".join([x if not x.isalpha() else " " for x in data]).split()])
print(res)

60.45

In [80]:
#generator (huge memory and data)
#swap memory concept in linux
res=(x for x in range(3))
print(res)
res.__next__()

<generator object <genexpr> at 0x0000025B5BCA5BE0>

0

In [81]:
for x in res:
    print(x)

1
2

In [ ]:
data="9,10,39,49,22,11".split(',')
data.sort()
print(data)

### TUPLES

In [3]:
#Ordered sequence
#Immutable
data=(3,4,5,5,5,6,7,5)
data.count(5)
data.index(6)

5

In [7]:
data=(1,2,2,[5,6,7,8,10],3)
data[-2][-1]="ten"
print(data)

(1, 2, 2, [5, 6, 7, 8, 'ten'], 3)

### DICT

In [8]:
#Dict
#{keys: values}
#ordered
#mutable
#keys will alway be unique
#int, float, strings,tuple
data={"name":"sam"} #sample format{key:values}

In [88]:
data={"name":"sam","company":"dell","place":"bangalore"}
data["name"]

'sam'

In [89]:
data.get("name")
data.get("nameee","No data/Error") #since 'nameee' doesnt exist as a key, the message gets printed

'No data/Error'

In [30]:
data.items()

dict_items([('name', 'sam'), ('company', 'dell'), ('place', 'bangalore')])

In [32]:
data.keys()

dict_keys(['name', 'company', 'place'])

In [31]:
data.values()

dict_values(['sam', 'dell', 'bangalore'])

In [23]:
data.pop("company")
data.popitem()

('place', 'bangalore')

In [34]:
name=data.setdefault("name")   #puts into variable
name

'sam'

In [35]:
data.update({"company":"mind","blood":"o+ve"})
print(data)

{'name': 'sam', 'company': 'mind', 'place': 'bangalore', 'blood': 'o+ve'}

In [37]:
#it only replaces
data["phno"]="7259249765"
print(data)

{'name': 'sam', 'company': 'dell', 'place': 'bangalore', 'phno': '7259249765'}

In [47]:
keys=["name","company","place"]
temp={}.fromkeys(keys)
#temp={}.fromkeys(keys,[]) dont use this cause it will shallow copy all'[]'is same address
print(temp)

{'name': None, 'company': None, 'place': None}

In [73]:
data = ["sam","nick","vaz"]
res = {}
for x in range(len(data)):
    res[x]=data[x]
print(res)

{0: 'sam', 1: 'nick', 2: 'vaz'}

In [74]:
#
data = ["sam","nick","vaz"]
res = {}
for x,y in enumerate(data):  #index position plus data=enumerate
    res[x]=y
print(res)

{0: 'sam', 1: 'nick', 2: 'vaz'}

In [75]:
res = dict(enumerate(data))
print(res)

{0: 'sam', 1: 'nick', 2: 'vaz'}

In [76]:
keys = ["name","company","place"]
values = ["sam","dell","bangalore"]
res = {}
for x in range(len(keys)):
    res[keys[x]]=values[x]
print(res)

{'name': 'sam', 'company': 'dell', 'place': 'bangalore'}

In [78]:
keys = ["name","company","place"]
values = ["sam","dell","bangalore"]
res = {}
for x,y in zip(keys,values):
    res[x]=y

In [79]:
res = dict(zip(keys,values))  #clubs the data
print(res)

{'name': 'sam', 'company': 'dell', 'place': 'bangalore'}

In [80]:
name = ["sam","nick","vaz"]
m1 = [20,21,22]
m2 = [20,22,21]
m3 = [21,22,22]
res = {}
for x in range(len(name)):
    print(name[x],m1[x],m2[x],m3[x])
    res[name[x]]=m1[x]+m2[x]+m3[x]
print(res)

sam 20 20 21
nick 21 22 22
vaz 22 21 22
{'sam': 61, 'nick': 65, 'vaz': 65}

In [81]:
name = ["sam","nick","vaz"]
m1 = [20,21,22]
m2 = [20,22,21]
m3 = [21,22,22]
res = {}
for x,y in zip(name,zip(m1,m2,m3)):
    res[x]=sum(y)
print(res)

{'sam': 61, 'nick': 65, 'vaz': 65}

In [82]:
res = {x:sum(y) for x,y in zip(name,zip(m1,m2,m3))}
print(res)

{'sam': 61, 'nick': 65, 'vaz': 65}

In [83]:
data = ["name","place","company"]
res = {}
for x in data:
    res[x]=input(f"Enter the {x}: ")
print(res)

Enter the name: sam
Enter the place: bang
Enter the company: dell
{'name': 'sam', 'place': 'bang', 'company': 'dell'}

In [84]:
res = {x:input(f"Enter the {x}: ") for x in data}
print(res)

Enter the name: sam
Enter the place: bang
Enter the company: dell
{'name': 'sam', 'place': 'bang', 'company': 'dell'}

### SET

In [2]:
#unordered
#mutable
#Unique: removes duplicate data

data={7,7,100,7,7,0.9,6,6,5,5,5,5,5,4,"hi",1,3,3,3,2}
data.add(1000) #adds randomly any position
data.discard(1000) #mathematical expressions discard is used
data.remove(2) #removes 2
print(data)

{0.9, 1, 3, 100, 5, 6, 7, 4, 'hi'}

In [110]:
data.pop() #here,the first data will be popped

0.9

In [117]:
data.update({0,2,3,4,5,6,7,8,9}) #adds new set with existing old one
print(data)

{0.9, 1, 2, 3, 4, 5, 6, 7, 0, 8, 9, 'hi', 100}

In [122]:
data={1,2,3,4,5}
data1={1,2}
print(data.difference(data1))

{3, 4, 5}

In [123]:
data={0,1,2,3,5}
data1={1,3,4,5}
print(data.intersection(data1))

{1, 3, 5}

In [126]:
temp={1,2,4,5,7}
temp1={7,5}
temp1.isdisjoint(temp)

False

In [131]:
temp={1,2,4,5,7}
temp1={7,3}
temp1.issubset(temp) #checks if it is subset or not (T or F)

False

In [134]:
data={0,1,2,3}
data1={1,3,4,5}
res=data.symmetric_difference(data1) #each non common thing repeats once
print(res)

{0, 2, 4, 5}

In [137]:
data={0,1,2,3}
data1={1,3,4,5}
data.union(data1) #removes duplicates

{0, 1, 2, 3, 4, 5}

In [1]:
data={"odd":[],"even":[]}
for x in range(20):
    if((x%2)==0):
        data["even"].append(x)
    else:
        data["odd"].append(x)
print(data)

{'odd': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19], 'even': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]}

In [2]:
data={"odd":[],"even":[]}
for x in range(20):
    if((x%2)==0):
        data["even"].append(x)
    else:
        data["odd"].append(x)
print(data)

{'odd': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19], 'even': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]}

In [3]:
data="9,10,39,49,22,11".split(',')
data.sort()
print(data)

['10', '11', '22', '39', '49', '9']

In [5]:
#startswith and endswith: returns true or flase
a="lmao"
a.startswith('l')
a.endswith('o')

True

## FUNCTIONS

In [2]:
def print_dell():
    print("Dell India Pvt Ltd")
print_dell()

Dell India Pvt Ltd

In [3]:
def adding(a,b,c):
    """This function is designed
    for adding 3 numbers 
    eg: adding(3,4,5)"""
    return a+b+c
adding(3,4,5)  #here, only doc string works

12

In [4]:
help(adding)

Help on function adding in module __main__:

adding(a, b, c)
    This function is designed
    for adding 3 numbers
    eg: adding(3,4,5)

In [5]:
def adding(a,b,c=0):   #default value: from righmost variable
    return a+b+c
adding(2,3)
adding(1,2,3)

6

In [6]:
def adding(*args):
    return sum(args)
adding(1,2,3,4,5,6,7,8)

36

In [7]:
def func_mul(*args):
    res=1
    for x in args:
        if(x!=0):
            res*=int(x)
    return (res)
func_mul(2,4,1)

8

In [9]:
def formula(a):
    return (a+10)**2
data=[4,5,6,7,8,9]
res=[]
for x in data:
    res.append(formula(x))
print(res)

[196, 225, 256, 289, 324, 361]

In [10]:
#map: (function(only one argument),iterable)
def formula(a):
    return (a+10)**2
data=[4,5,6,7,8,9]
list(map(formula,data))

[196, 225, 256, 289, 324, 361]

In [11]:
a=[3,4,5,6,7]
b=[1,2,3,4,5]
def formula(x):
    return (x[0]-x[1])**2
list(map(formula,zip(a,b)))

[4, 4, 4, 4, 4]

In [15]:
def num_gen(num_len,OE):
    res_odd=[]
    res_even=[]
    for x in range(num_len):
        if x%2==0:
            res_even.append(x)
        else:
            res_odd.append(x)
    if OE=="odd":
        return res_odd
    elif OE=="even":
        return res_even
    else:
        print("NO DATA")
        
data={"num_len":25,"OE":"odd"}
num_gen(**data)  #quarks converts to dictionary like how *args is for tuples

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [16]:
def num_gen(num_len,OE):
    if OE=="odd":
        return [x for x in range(num_len) if(x%2==1)]
    elif OE=="even":
        return [x for x in range(num_len) if(x%2==0)]
    else:
        print("NO DATA") 
data={"num_len":25,"OE":"odd"}
num_gen(**data)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [18]:
data=[2,3,3,0,3,0] #None and 0 are considered nil in python
list(filter(None,data))

[2, 3, 3, 3]

### CONTROL FLOW
Already covered: if-else, for statements, range function

In [5]:
#Break and Continue Statements
#Break statement

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')
        
#Continue statement
for num in range(2, 10):
    if num % 2 == 0:
        print(f"{num} is even")
        continue
    print(f"{num} is odd")

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [20]:
#Case and match statement

def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 401 | 403 | 405:
            return "Not allowed"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"
        
http_error(418)

"I'm a teapot"

### LAMBDA EXPRESSION

Name-less function
Can be developed in one line. 
Function can be used when a new function has to be created in one line with basic input and formula

In [35]:
data=[4,5,6,7,8,9]
res=list(map(lambda a:a**2,data))
print(res)

[16, 25, 36, 49, 64, 81]

In [25]:
z=lambda a:a**2
z(10)
z=lambda a,b:(a+b)**2
z(10,1)

121

In [26]:
z=lambda a:a**2
z(10)
z=lambda a,b:(a+b)**2
z(10,1)

121

In [27]:
#FILTER (function:iterable)
data=[1,2,3,4,5,6,7]
list(filter(lambda a:a%2==0,data))

[2, 4, 6]

In [30]:
data=[2,3,3,0,3,0]
list(filter(lambda a:a%2==0,data))
list(map(lambda a:a%2==0,data))

[True, False, False, True, False, True]

In [32]:
def make_incrementor(n):
    return lambda x: x + n
f = make_incrementor(42)
f(0)
f(1)

43

In [33]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [ ]:
#Password Masking
from getpass import getpass
username=input("Enter the username")
password=getpass("Enter the password")