## Basic - I Exercises

In [1]:
#1
print('''Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high,\n\t\t Like a diamond in the sky.\nTwinkle, twinkle, little star, \n\tHow I wonder what you are''' )

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		 Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [2]:
#2
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [3]:
#3
import datetime
now=datetime.datetime.now()
print(now)

2024-03-15 10:19:45.474412

In [4]:
#4
from math import pi
r=float(input("Enter radius"))
print("Area =",pi*r*r)

Enter radius7
Area = 153.93804002589985

In [5]:
#5
print("Enter first and last name")
firstname, lastname=map(str,input().split())
print(f"{lastname} {firstname}")

Enter first and last name
james bond
bond james

In [6]:
#6
data=input('Enter comma seperated values: ')
print("List is",data.split(','))
print("Tuple is",tuple(data.split(',')))

Enter comma seperated values: 1,2,3,4,5
List is ['1', '2', '3', '4', '5']
Tuple is ('1', '2', '3', '4', '5')

In [7]:
#7
filename=input("Enter file name: ")
filename.split('.')[-1]

Enter file name: image.jpg

'jpg'

In [8]:
#8
colourlist=input("enter colours: ")
newcolor=colourlist.split(',')
print(newcolor[0], newcolor[-1])

enter colours: red,green,white,black
red black

In [9]:
#9
exam_start=(11,12,2023)
print("Exam starts from: %i/%i/%i" %exam_start)

Exam starts from: 11/12/2023

In [10]:
#10
n=int(input("Enter n value: "))
n1=int("%s" %n)
n2=int("%s%s" %(n,n))
n3=int("%s%s%s" %(n,n,n))
print(n1+n2+n3)

Enter n value: 3
369

In [11]:
#11
print(abs.__doc__)

Return the absolute value of the argument.

In [12]:
#12
import calendar
y=int(input("enter year: "))
m=int(input("enter month number: "))
print(calendar.month(y,m))

enter year: 2002
enter month number: 05
      May 2002
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [13]:
#13
print('''a string that you "don't" have to escape\nThis\nis a.......multiline\nheredoc string----->example ''')

a string that you "don't" have to escape
This
is a.......multiline
heredoc string----->example

In [14]:
#14
from datetime import date
date_1=date(2014,7,2)
date_2=date(2014,7,11)
delta=date_2-date_1
print(delta.days)

9

In [15]:
#15
from math import pi
r=int(input("Enter radius: "))
print("Volume of sphere is:",(4*pi*r**3)/3)

Enter radius: 7
Volume of sphere is: 1436.755040241732

In [16]:
#16
data=int(input("Enter number"))
data-17 if data>17 else abs(data-17)*2

Enter number5

24

In [17]:
#17
n=int(input("Enter number:"))
if(n<100):
    print("within 100")
elif((n>=100) and (n<1000)):
    print("within 1000")
elif((n>1000) and (n<2000)):
    print("within 2000")

Enter number:5
within 100

In [19]:
#18
print("enter 3 numbers a,b and c: ")
a,b,c=map(int,input().split())
3*(a+b+c) if (a==b)and(b==c)and(c==a) else a+b+c

enter 3 numbers a,b and c:
1 2 3

6

In [21]:
#19
data=input("enter string: ")
data if((data.startswith("If ")) or (data.startswith("if"))) else "If "+data

enter string: if you can

'if you can'

In [22]:
#20
n=int(input("enter value n: "))
data=input("enter string: ")
print(data*n)

enter value n: 3
enter string: momo
momomomomomo

In [23]:
#21
n=int(input("enter number"))
"even" if n%2==0 else "odd"

enter number3

'odd'

In [24]:
#22
data=input("enter the list").split(",")
print(data.count("4"))

enter the list1,2,3,3,4,4,4,4,4,5
5

In [25]:
#23
data=input("enter the string: ")
n=int(input("enter number"))
length=len(data)
data*n if length<2 else n*data[0:2]

enter the string: momo
enter number3

'momomo'

In [26]:
#24
data=input("enter letter:")
"vowel" if (data==("a")or data==("e")or data==("i")or data==("o")or data==("u")) else "consonent"

enter letter:d

'consonent'

In [28]:
#25
data=input('Enter list: ')
n=input('Enter search element: ')
"True" if n in data else "False"

Enter list: 1,2,3,4,5,6
Enter search element: 7

'False'

In [ ]:
#26

In [29]:
#27
data=input("enter elements: ").split(',')
res=0
for i in data:
    res+=int(i)
print(res)

enter elements: 1,2,3,4,5
15

In [30]:
#28
numb=input("enter numbers: ")
numbers=numb.split(',')
for i in numbers:
        if(int(i)==237):
            break
        if(int(i)%2==0):
            print(i)

enter numbers: 1,2,3,4,5
2
4

In [31]:
#29
color_list_1 = set(["White","pink","purple","Black", "Red"])
color_list_2 = set(["Red", "Green","pink"])
for x in color_list_2:
    if(x in color_list_1):
        color_list_1.remove(x)
        print(color_list_1)

{'pink', 'purple', 'White', 'Black'}
{'purple', 'White', 'Black'}

In [32]:
#30
base=int(input("enter base"))
height=float(input("enter height"))
print("Area of triangle =",(0.5*base*height))

enter base14
enter height30
Area of triangle = 210.0

In [33]:
#31
import math
a=int(input("enter 1st no.: "))
b=int(input("enter 2nd no.: "))
math.lcm(a,b)

enter 1st no.: 2
enter 2nd no.: 3

6

In [34]:
#32
import math
a=int(input("enter 1st no.: "))
b=int(input("enter 2nd no.: "))
math.gcd(a,b)

enter 1st no.: 3
enter 2nd no.: 6

3

In [36]:
#33
a,b,c = map(int,input().split())
"0" if (a==b) or (b==c) or(c==a) else a+b+c

2 2 3

'0'

In [39]:
#34
a=int(input("enter 1st no.: "))
b=int(input("enter 2nd no.: "))
summ=a+b
"20" if (summ>15) and (summ<20) else summ

enter 1st no.: 18
enter 2nd no.: 1

'20'

In [40]:
#35
a=int(input("enter 1st no.: "))
b=int(input("enter 2nd no.: "))
"True" if (a==b)or((b-a)==5)or((a+b)==5)or((a-b)==5) else "False"

enter 1st no.: 3
enter 2nd no.: 4

'False'

In [42]:
#36
a=input("enter value 1: ")
b=input("enter value 2: ")
if((a.isnumeric()) and (b.isnumeric())):
    print(int(a)+int(b))
else:
    print("error")

enter value 1: 3
enter value 2: momo
error

In [43]:
#37
a=input("enter name: ")
b=input("enter age: ")
c=input('enter address: ')
print("Name is: ",a)
print("Age is: ",b)
print("Address is: ",c)

enter name: james
enter age: 40
enter address: rainbowland
Name is:  james
Age is:  40
Address is:  rainbowland

In [44]:
#38
x=int(input("enter x value: "))
y=int(input("enter y value: "))
print(f"({x}+{y})*({x}+{y})is",((x+y)*(x+y)))

enter x value: 3
enter y value: 4
(3+4)*(3+4)is 49

In [45]:
#39
p=float(input("enter principle:"))
r=float(input("enter rate: "))
t=float(input("enter time period: "))
print("simple interest is: ",((p*r*t)/100))
print("compound interest is: ",(p*(1+(r/100))**t))

enter principle:40000
enter rate: 7
enter time period: 3
simple interest is:  8400.0
compound interest is:  49001.72

In [47]:
#40
x1=int(input("enter x1: "))
x2=int(input("enter x2: "))
y1=int(input("enter y1: "))
y2=int(input("enter y2: "))
print("Distance is: ",((y2-y1)/(x2-x1)))

enter x1: 2
enter x2: 3
enter y1: 4
enter y2: 6
Distance is:  2.0

In [48]:
#58
n=int(input("enter positive number 'n': "))
res=0
for i in range(0,n+1):
    res+=i
print(res)

enter positive number 'n': 5
15

In [49]:
#59
h=input("enter height in feet and inches (feet,inches):")
newh=h.split(',')
print("height is: ",(int(newh[0])*30+int(newh[1])*2))

enter height in feet and inches (feet,inches):5,2
height is:  154

In [51]:
#60
from math import sqrt
a=int(input("enter 1 side value: "))
b=int(input("enter 2 side value: "))
print("Hypotenuse is: ",sqrt(a**2+b**2))

enter 1 side value: 3
enter 2 side value: 4
Hypotenuse is:  5.0

In [ ]:
#61
#distance to inches, yards and miles
#easy so skip

In [53]:
#62 
time=input("enter time (days, hours, minutes, seconds): ")
newtime=time.split(',')
print("total time in seconds is: ",(int(newtime[0])*86400+int(newtime[1])*3600+int(newtime[2])*60+int(newtime[3])))

enter time (days, hours, minutes, seconds): 5,12,3,4
total time in seconds is:  475384

In [55]:
#65
sec=int(input("enter seconds: "))
days=sec//86400
hours=int((float(sec/86400)-days)*24)
hour=(float(sec/86400)-days)*24
minutes=int((hour-hours)*60)
minute=(hour-hours)*60
seconds=int((minute-minutes)*60)
print(f"{days}:{hours}:{minutes}:{seconds}")

enter seconds: 475384
5:12:3:3

In [56]:
#66
h=float(input("enter height in metres: "))
w=float(input("enter weight in kgs: "))
print("BMI is: ",(w/(h**2)))

enter height in metres: 1.54
enter weight in kgs: 38
BMI is:  16.02293810086018

In [ ]:
#67
#atmospheric pressure, just conversion, skip

In [62]:
#68
# data=input("enter: ")
# res=0
# for i in data:
#     res+=int(i)
# print(res)

enter: 4
4

In [68]:
#69
# a=input("enter 3 numbers: ").split(',')
# a.sort()
# print(a)

['10', '11', '22', '39', '49', '9']

In [69]:
#72
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [70]:
#73
data=input("enter the coordinates in format(x1,y1,x2,y2): ").split(',')
print(f"Midpoint of the line is:",(int(data[0])+int(data[2]))/2,",",(int(data[1])+int(data[3]))/2)

enter the coordinates in format(x1,y1,x2,y2): 2,3,4,5
Midpoint of the line is: 3.0 , 4.0

In [71]:
#81
data=input("enter string: ")
n=int(input("enter number of times to concatenate: "))
print(data*n)

enter string: momo
enter number of times to concatenate: 3
momomomomomo

In [74]:
#83
data=input("enter numbers: ").split(',')
number=int(input("enter number to compare with: "))
for i in data:
    if(int(i)>number):
        print(f"Numbers in the list greater than {number} is: ",i)

enter numbers: 1,2,3,4
enter number to compare with: 3
Numbers in the list greater than 3 is:  4

In [75]:
#84
data=input("enter string: ")
print("Number of w's are:",data.count('w'))

enter string: how much wood would a wood chuck chuck?
Number of w's are: 4

In [77]:
#86
c=input("Enter the character whose ASCII code needs to be found:")
ord(c)

Enter the character whose ASCII code needs to be found:A

65

In [78]:
#88
x=30
y=20
print(f"{x}+{y}=",(x+y))

30+20= 50

In [80]:
#89
data=int(input("enter date of the month: "))
if(data==1):
    print("its the first day of the month!")

enter date of the month: 1
its the first day of the month!

In [81]:
#91
a=int(input('enter first variable: '))
b=int(input('enter second variable: '))
temp=a
a=b
b=temp
print("first variable is",a)
print("second variable is",b)

enter first variable: 2
enter second variable: 3
first variable is 3
second variable is 2

In [82]:
#92
data=("':'{%$}*@#")
print(data)

':'{%$}*@#

In [83]:
#93 (VALUE=ADDRESS)
data="vasu123@yahoo.com"
print(type(data))
print(id(data))
print(data)

<class 'str'>
1943781791248
vasu123@yahoo.com

In [84]:
#95
data=input("enter string: ")
data.isdigit()

enter string: momo

False

In [86]:
#110
data=input("enter numbers: ").split(',')
for i in data:
    if(int(i)%15==0):
        print(i)

enter numbers: 45
45

In [87]:
#112
data=input("enter value: ").split(',')
data.remove(data[0])
print(data)

enter value: 3
[]

In [91]:
# #113
# while True:
#     try:
#         data=int(input("enter number: "))
#         print("number is:",data)
#     except ValueError:
#         print("error")

In [94]:
#114
data=input("enter numbers: ").split(',')
for i in data:
    if(int(i)>0):
        print("Positive numbers are: ",i)

enter numbers: 1,2,3,-9,-7,6
Positive numbers are:  1
Positive numbers are:  2
Positive numbers are:  3
Positive numbers are:  6

In [95]:
#115
data=input("enter list of intergers: ")
res=1
for i in data.split(','):
    res*=int(i)
print(res)

enter list of intergers: 1,2,3,4,5
120

In [96]:
#117
x=input("enter value of string x: ")
y=input("enter value of string y: ")
print(f"Address of {x} is: ",id(x))
print(f"Address of {y} is:",id(y))
id(x)==id(y)

enter value of string x: 2
enter value of string y: 3
Address of 2 is:  140731859614904
Address of 3 is: 140731859614960

False

In [97]:
#122
data={"x":200}
data.clear()
print(data)

{}

In [99]:
#128
data=input("enter string: ")
data.islower()

enter string: Momo

False

In [100]:
#129
data=input("enter a string: ")
data.zfill(10)

enter a string: momo

'000000momo'

In [101]:
#130
data=input("enter string: ")
print(f'''"{data}"''')

enter string: momo
"momo"

In [103]:
#133
# import datetime
# x=datetime.datetime.time()
# y=datetime.datetime.now()
# print(x-y)

In [104]:
#135
x=int(input("Enter number: "))
print(f'''Value of x is "{x}" ''')

Enter number: 3
Value of x is "3"

In [105]:
#138
data=input("enter either true or false: ")
if((data=="true") or (data=="True")):
    print("0")
if((data=="false") or (data=="False")):
    print("1")

enter either true or false: true
0

In [111]:
#144
data=eval(input("enter value: "))
if(type(data)==int):
    print("integer")
elif(type(data)==str):
    print("String")

enter value: 7
integer

In [114]:
# #145
# data=eval(input("Enter values: "))
# if(type(data)==list):
#     print("List")
# elif(type(data)==tuple):
#     print("Tuple")
# elif(type(data)==set):
#     print("Set")

In [115]:
#147
a=int(input("enter number 1: "))
b=int(input("enter number 2: "))
if((a%b==0) or (b%a==0)):
    print("True")
else:
    print("False")

enter number 1: 2
enter number 2: 3
False

In [116]:
#149
n=int(input("enter number: "))
i=0
res=0
for i in range(0,n+1):
    res+=int(i)**3
print(res)

enter number: 3
36

## Conditional Statements and Loops

In [ ]:
#1
for data in range(1500,2700):
    if(data%5==0)and(data%7==0):
        print(data)

In [ ]:
#4
for n in range(0,5):
    print("*"*n)
for n in range(5,0,-1):
    print("*"*n)

In [ ]:
#5
data=input("enter a word: ")
data[::-1]

In [ ]:
#6
data=input("enter numbers:")
odd=[]
even=[]
for x in data.split():
    if x%2==1:
        odd.append(x)
    else:
        even.append(x)
print("No. of Odds",len(odd))
print("No. of even",len(even))

In [ ]:
#7
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for x in datalist:
    print(f"Item:{x} and Datatype is {type(x)}")

In [ ]:
#8
res=list(range(0,7))
res.remove(3)
res.remove(6)
print(res)

In [ ]:
#9
for data in range(0,50):
    print(data)

In [ ]:
#10
for data in range(1,51):
    if data%3==0:
        print("fizz")
    if data%5==0:
        print("buzz")
    if data%3==0 and data%5==0:
        print('fizzbuzz')
    else: 
        print(data)
print(data)

In [ ]:
letters=[]
digits=[]
data=input("Enter value: ")
for x in data:
    if x.isdigit():
        digits.append(x)
    elif x.isalpha():
        letters.append(x)
print("Letters: ",len(letters))
print("Digits: ",len(digits))

In [ ]:
#31
h=int(input("enter human years: "))
print("dogs years",((2*10.5)+(h-2)*4))

In [ ]:
#32
vowels=['a','e','i','o','u']
x=input("enter letter: ")
print("vowel") if x in vowels else print("consonent")

In [ ]:
#33
list1=["jan","mar","may","jul","aug","octo","dec"]
list2=["apr","jun","sept","nov"]
x=input("enter month: ")
if x in list1:
    print("31")
if x in list2:
    print ("30")
if x=="feb":
    print("28/29")

In [ ]:
#34
a=int(input("enter num1: "))
b=int(input("enter num2: "))
20 if (a+b>14 and a+b<21) else a+b

In [ ]:
#35
data=input("enter: ")
if type(data)==int:
    print("It is int")
else:
    print("Not int")

In [ ]:
#36
x=int(input("enter side 1: "))
y=int(input("enter side 2: "))
z=int(input("enter side 3: "))
if x==y==z:
    print("equi")
elif x!=y!=z:
    print("scalene")
elif (x!=y and x==z) or (x!=z and x==y) or (y!=x and y==z):
    print("iso")

In [ ]:
#37,38 and 39
#doable too lengthy

In [ ]:
#40
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
x=[a,b,c]
x.sort()
print("Median=",x[1])

In [ ]:
#41
y=int(input("Enter year: "))
m=int(input("Enter month: "))
d=int(input("Enter date: "))
print(f"The next day is going to be ({d+1}:{m}:{y})")

In [ ]:
#42
data=input("enter numbers: ").split(',')
res=0
for i in data:
    res+=int(i)
print("Sum is ",res)
print("Average is ",res/len(data))

In [ ]:
#43
n=int(input("Enter number from 1-10: "))
for j in range(1,11):
    j+=j
    print(f"{n}x{j}={n*j}")

In [ ]:
#44
for n in range(1,10):
    print(str(n)*n)

## Basic II: Python Exercises

In [ ]:
#1
data=input("Enter values: ").split(',')
for i in data:
    if data.count(i)>1:
        print("There is repeat")
    else:
        print("All values are unique")

## PYTHON PUZZLES

In [ ]:
#1
data=input('Enter list: ')
if data.count('19')==2:
    if data.count('5')>2:
        print(True)
else:
    print(False)

In [ ]:
#2
data=input('Enter list: ').split(',')
if len(data)==8:
    if data.count(data[4])==3:
        print(True)

In [ ]:
#3
data=int(input('Enter the value: '))
if data>4**4:
    print('Data is greater than 4**4')
else:
          print('Data is lesser than or equal to 4**4')

In [ ]:
#4: Didnt understand question phrasing
#5
data = input('Enter the list: ')split(',')
data[-1].endswith(data[-2])

In [ ]:
#6
nums=list(range(0,1000,10))
print(nums)

In [ ]:
#7
data=input('Enter list: ')
n=int(input('Enter the desired number: '))
drata=data.split(',')[0:n]
res=0
for i in drata:
    res+=int(i)
if n==res:
    print(True)
else:
    print(False)

## Lists

In [ ]:
#1
data=input("Enter list: ").split(',')
res=0
for x in data:
    res+=int(x)
print(res)

In [ ]:
#2
data=input("Enter list: ")
res=1
for x in data.split(','):
    res*=int(x)
print(res)

In [ ]:
#3
numberss=[56,678,34218,6,9,400000]
max(numberss)

In [ ]:
#4
numberss=[56,678,34218,6,9,400000]
min(numberss)

In [ ]:
#5
data=input("Enter list: ")
for x in data.split(','):
    if len(x)>2:
        if x[0]==x[-1]:
            print(x)

In [ ]:
#6
data=input('enter the list: ').split(';')
for i in data:
    print(type(i))

In [ ]:
#7
data=input('Enter a list: ')
newdata=set(data)
newdata.remove(',')
print(newdata)

In [ ]:
#8
data=input('Enter a list: ').split(',')
if len(data)=='0':
    print('List is empty')
else:
    print('List is not empty')

In [ ]:
#9
data=[1,2,3,4,5]
temp=data.copy()
print('OG data: ',data)
print('Copied data: ',temp)

In [ ]:
#10
n=int(input('Enter the length of letters: '))
data=input('Enter list of words ')
for x in data.split(','):
    if len(x)>n:
        print(x)

In [ ]:
#11
a1=input('Enter list 1: ')
a2=input('Enter list 2: ')
for i in a1:
    for j in a2:
        if i==j:
            print(True)

In [ ]:
#12
data=input("Enter list: ").split(',')
data.pop(0)
data.pop(3)
data.pop(3)
print(data)

In [ ]:
#14
data=input("Enter list: ").split(',')
for i in data:
    if int(i)%2==0:
        data.remove(i)
print(data)

In [ ]:
#15
from random import shuffle
data=input("Enter list: ").split(',')
shuffle(data)
print(data)

In [ ]:
#24
res=[]
data=input("Enter list: ").split(',')
res.append(data)
print(res)

## FUNCTIONS

In [117]:
#1
def maxnum(a,b,c):
    print(max(a,b,c))
maxnum(9,18,5)

18

In [118]:
#2
def sumlist(*args):
    return sum(args)
sumlist(8, 2, 3, 0, 7)

20

In [119]:
#3
def mullist(*args):
    res=1
    for x in args:
        res*=int(x)
    return res
mullist(8, 2, 3, -1, 7)

-336

In [120]:
#4
def reversestring(x):
    print(x[::-1])
reversestring('1234abcd')

dcba4321

In [123]:
#5
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
    print(factorial(n))
factorial(6)

720

In [126]:
#6
def rangenum(x):
    "True" if x in range(1,10) else "False"
rangenum('2')

In [ ]:
# #7
# def lettercase(x):
#     print('Uppercase count is: ')
#     print('Lowercase count is: ')
# lettercase('The quick Brown Fox')

In [127]:
#8
def uniquelist(*args):
    print(set(args))
uniquelist(1,2,2,2,2,2,3,5,5,5,6,4,97)

{1, 2, 3, 4, 5, 6, 97}

In [ ]:
#10
def evennumb(*args):
    args_list=list(args)
    for x in args_list:
        if x%2==0:
            args_list.append(x)
    print(args_list)
    
evennumb(1,2,3,4,5,6)

In [133]:
#12
def momo(x):
    "It is a palindrome!" if x==x[::-1] else "It is not a palindrome!"
momo('madam')

In [ ]:
#16
def squarelist(*args):
    list_args=list(args)
    for x in list_args:
        list_args.append(x**3)
    print(list_args)
squarelist(1,2,3)